.content-image-rat {
    display: block;
    justify-content: center;
    box-sizing: border-box;
    

    .textAnime {
        color: $darkBlue;
        font-family: $font2;
    }

    li {
        color: $fushia;
    }
}